:root {
	--lightGrey: #fafafa;
	--white: #ffffff;
	--black: #000;
	/* --black: #262626; */
	--darkGrey: rgb(219, 219, 219);
	--grey: rgb(58, 58, 58);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Cookie', cursive; */
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.navbar__page {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
}

.main__content__container {
	background-color: var(--black);
	/* background-color: var(--lightGrey); */
}

.main__content {
	width: 100%;
	padding: 1rem 0;
	height: 100vh
}

@media screen and (min-width: 1024px) {
	.main__content {
		width: calc(100vw - 230px);
		margin-left: auto;
		padding: 2rem;
		overflow: hidden;
	}
}
