.createPost {
	display: flex;
	justify-content: center;
}
.createPostCard {
	background-color: var(--black);
	color: var(--white);
	padding: 1rem;
	border-radius: 10px;
	width: 95%;
}
.cardTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3rem;
}
.createPostCard h2 {
	font-family: var(--cursiveFont);
	font-size: 3rem;
}
.createPostCard h4 {
	font-size: 1.2rem;
}
.cardContent {
	width: 90%;
	margin: auto;
}
.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.inputContainer label {
	letter-spacing: 1.5px;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	font-family: var(--cursiveFont);
}
.inputContainer input,
.inputContainer textarea {
	padding: 0.5rem;
	outline: none;
	border: none;
	background-color: var(--white);
	border-radius: 4px;
	color: var(--black);
	font-size: 90%;
	line-height: 1.5;
}
.cardButtonContainer {
	display: flex;
	justify-content: center;
}
.cardButton {
	background-color: black;
	color: var(--white);
	padding: 0.7rem 2rem;
	border-radius: 20px;
	outline: none;
	border: 1px solid var(--white);
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.cardButton:hover {
	background-color: var(--white);
	color: var(--black);
}
@media screen and (min-width: 768px) {
	.createPostCard {
		width: 60%;
	}
}
@media screen and (min-width: 1024px) {
	.createPostCard {
		width: 70%;
		max-width: 700px;
	}
	.createPostCard h2 {
		font-size: 4rem;
	}
	.createPostCard h4 {
		font-size: 1.5rem;
	}
	.cardContent {
		width: 80%;
		margin: auto;
	}
	.inputContainer label {
		font-size: 2rem;
	}
	.inputContainer input,
	.inputContainer textarea {
		padding: 0.7rem;
		font-size: 1.1rem;
	}
	.inputContainer textarea {
		height: 150px;
	}
	.inputContainer textarea::-webkit-scrollbar {
		display: none;
	}
}
